<div class="mb-4 text-center">
<form action="/records" method="POST" style="display: inline;">
<h1 class="h3 font-weight-normal mb-3">請輸入你的支出</h1>
  {{>record-form}}
  <button class="btn btn-primary btn-block" type="submit">新增支出</button>
</form>
</div>